@model IEnumerable<ActiveVotingViewModel>

<div class="text-center">
    <h1>Active Votings</h1>
    @if (Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Birthday person</th>
                    <th>Birthday</th>
                    <th>Initiator</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="event-delegation-wrapper">
                @foreach (var voting in Model)
                {
                    <tr>
                        <td>@voting.BirthdayPersonFirstName @voting.BirthdayPersonLastName</td>
                        <td>@voting.BirthdayPersonBirthday.ToShortDateString()</td>
                        <td>@voting.InitiatorFirstName @voting.InitiatorLastName</td>
                        <td>
                            <button class="btn btn-primary vote-options" data-voting-id="@voting.Id">See Vote Options</button>
                            <button class="btn btn-danger end-voting-button" data-voting-id="@voting.Id">End Voting</button>
                        </td>
                    </tr>
                    <tr class="vote-options-row" style="display: none;"></tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No active votings at the moment.</p>
    }
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            function fetchPresentsAndPopulateRadioButtons() {
                $.ajax({
                    type: 'GET',
                    url: '/Presents/All',
                    success: function (data) {
                        var presents = data;

                        var radioButtonsHtml = '';
                        for (var i = 0; i < presents.length; i++) {
                            var present = presents[i];
                            radioButtonsHtml += '<input class="form-check-input" type="radio" name="voteOption" id="present-' + present.id + '" value="' + present.id + '">';
                            radioButtonsHtml += '<label class="form-check-label" for="present-' + present.id + '">' + present.name + ' (' + present.price + ')</label><br>';
                        }

                        $('.vote-options-row').html(
                            '<td colspan="4"><div class="form-check vote-options-container">' +
                            radioButtonsHtml +
                            '<button class="btn btn-success vote-button" disabled>Vote</button>' +
                            '</div></td>'
                        );

                        $('input[name="voteOption"]').on('change', function () {
                            var isRadioSelected = $('input[name="voteOption"]:checked').length > 0;
                            $('.vote-button').prop('disabled', !isRadioSelected);
                        });
                    },
                    error: function (error) {
                        alert('Error fetching presents: ' + error.responseText);
                    }
                });
            }

            fetchPresentsAndPopulateRadioButtons();

            function resetRadioButtons() {
                $('input[name="voteOption"]').prop('checked', false);
                $('.vote-button').prop('disabled', true);
            }

            $('.vote-options').on('click', function () {
                var voteOptionsRow = $(this).closest('tr').next('.vote-options-row');
                if (voteOptionsRow.is(':visible')) {
                    resetRadioButtons();
                }
                voteOptionsRow.toggle();
            });

            $('.end-voting-button').on('click', function () {
                var votingId = $(this).data('voting-id');
                $.ajax({
                    type: 'POST',
                    url: '/Votings/EndVoting',
                    data: { votingId: votingId },
                    success: function () {
                        alert('Voting ended successfully.');
                        window.location.href = '/Votings/AllFinished';
                    },
                    error: function (error) {
                        alert('Error: ' + error.responseText);
                    }
                });
            });

            $('.event-delegation-wrapper').on('click', '.vote-button', function () {
                var votingId = $(this).closest('tr').prev().find('.vote-options').data('voting-id');
                var presentId = $('input[name="voteOption"]:checked').val();
                $.ajax({
                    type: 'POST',
                    url: '/Votings/Vote',
                    data: { votingId: votingId, presentId: presentId },
                    success: function () {
                        alert('Vote submitted successfully.');
                        $('.vote-options').click();
                    },
                    error: function (error) {
                        alert('Error: ' + error.responseText);
                        $('.vote-options').click();
                    }
                });
            });
        });
    </script>
}

@section Styles {
    <style>
        .vote-options-container {
            text-align: left;
            padding-left: 15px;
        }

        .form-check-input {
            margin-right: 5px;
        }

        .form-check-label {
            margin-right: 15px;
        }
    </style>
}