@model IEnumerable<ActiveVotingViewModel>

<div class="text-center">
    <h1>Active Votings</h1>
    @if (Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Birthday person</th>
                    <th>Birthday</th>
                    <th>Initiator</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var voting in Model)
                {
                    <tr>
                        <td>@voting.BirthdayPersonFirstName @voting.BirthdayPersonLastName</td>
                        <td>@voting.BirthdayPersonBirthday.ToShortDateString()</td>
                        <td>@voting.InitiatorFirstName @voting.InitiatorLastName</td>
                        <td>
                            <button class="btn btn-primary vote-button" data-voting-id="@voting.Id">Vote</button>
                            <button class="btn btn-danger end-voting-button" data-voting-id="@voting.Id">End Voting</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No active votings at the moment.</p>
    }
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            function fetchPresents() {
                $.ajax({
                    type: 'GET',
                    url: '/Presents/All',
                    success: function (data) {
                        var presents = data;
                    },
                    error: function (error) {
                        alert('Error fetching presents: ' + error.responseText);
                    }
                });
            }

            fetchPresents();

            $('.end-voting-button').on('click', function () {
                var votingId = $(this).data('voting-id');
                $.ajax({
                    type: 'POST',
                    url: '/Votings/EndVoting',
                    data: { votingId: votingId },
                    success: function () {
                        alert('Voting ended successfully.');
                        window.location.href = '/Votings/AllFinished';
                    },
                    error: function (error) {
                        alert('Error: ' + error.responseText);
                    }
                });
            });

            $('.vote-button').on('click', function () {
                alert('Vote button clicked.');
            });
        });
    </script>
}